<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
        function addRow() {
            var div = document.createElement('div');
            //div.className = "activity" + (activityId);
            div.innerHTML = "<br><input list=\"groups\"><datalist id=\"groups\"><%rows.forEach(function(row){ %><option value=\"<%=row.groupName%>\"><%});%></datalist>";

            // "<input type = \"text\" placeholder=\"Activitiy title\" \n\
            //                name=\"activitytitle" + (activityId) + "\" maxlength= \"10\" class = \"activityI\"\n\ required\> <input id=\"remove\" type=\"button\" value=\"Remove\" class = \"hollow-button\" onclick=\"deleteRow(activitytitle" + activityId + ");\"/>";
            document.getElementById('groupsToAdd').appendChild(div);  
        }
        function deleteRow(input) {
            document.getElementById('groupsToAdd').removeChild(input.parentNode);
        }
    </script>
    <style>
        body {
            background-color: #685f76;
            padding: 10px 10px 10px 10px;
        }
        h2 {
            color: #f6f8ff;
            font-family: Georgia, serif; 
        }
        h3 {
            color: #f6f8ff;
            font-family: Georgia, serif; 
        }
        .button {
            background-color: #686b7d;
            text-align: left;
            border: none;
            width: 100%;
            color: white;
            padding: 16px 32px;
            font-size: 16px;
            margin: 4px 0px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }   
        .button:hover {
            opacity: 1
        }
        #mainDiv {
            padding: 2px 10px 10px 10px;
            background-color: #1f2233;
            box-shadow: 0px 0px 10px 2px #1f2233;
            margin: auto;
            min-height: 100px;
            overflow: hidden;
            width: 85%;
        }
        #containerDiv {
            float: left;
            min-height: 100px;
            overflow: hidden;
        }
        #div1 {
            border-bottom-style: dotted;
            border-color: #1EB980;
            padding: 2px 10px 5px 0px;
            margin: auto;
            display: inline-block;
        }
        #theoryFormDiv{
            color: #f6f8ff;
            font-family: Georgia, serif;
            padding:4px 0px;
        }
        #div2{
            margin-right: 250px;
            float: right;
        }
        br {
            line-height: 150%;
        }
        input[type=text]{
            width: 97%;
            padding: 5px;
            border: none;
            background-color:#404356;
            color: #f6f8ff;
        }
        input[list]{
            width: 97%;
            padding: 5px;
            border: none;
            background-color:#404356;
            color: #f6f8ff;
        }
        textarea {
            resize: none;
            width: 97%;
            padding: 5px;
            border: none;
            background-color:#404356;
            color: #f6f8ff; 
        }
        input[type=number]{
            width: 97%;
            padding: 5px;
            border: none;
            background-color:#404356;
            color: #f6f8ff;
        }
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        } 
        .tab button:hover {
            background-color: #ddd;
        }
        .tab button.active {
            background-color: #ccc;
        }
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }
        ::-webkit-scrollbar {
            width: 7px;
        }       
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
             border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #1EB980;
        }
    </style>
  </head>
  <body>
    <div id="mainDiv">
        <div id="containerDiv">
            <div id="div1">
                <h2>The Security Theory Map</h2>
            </div>
            <div style="height:10px;width:100%;clear:both;"></div>
            <h3>Insert a new theory</h3>
            <div id="theoryFormDiv">
                <form method="POST" action="processTheoryInsert"> 
                    Name:<br>
                    <input type="text" name="name"><br>
                    Cluster:<br>
                    <input type="text" name="cluster"><br>
                    Groups:<br>
                    <div id = "groupsToAdd">
                        <input list="groups">
                            <datalist id="groups">
                                <%rows.forEach(function(row){ %>
                                    <option value="<%=row.groupName%>">
                                <%});%>
                            </datalist><br>
                    </div>
                    <button class="button" type="button" onclick="addRow()">Add group</button><br>
                    Summary:<br>
                    <textarea rows="4" name ="summary"></textArea><br> 
                    Principles:<br>
                    <textarea rows="4" name ="principles"></textArea><br> 
                    Tags (comma separated):<br>
                    <textarea rows="4" name ="tags"></textArea><br> 
                    Example:<br>
                    <textarea rows="4" name ="example"></textArea><br>                     
                    Structure of international system:<br> 
                    <textarea rows="4" name ="structure"></textArea><br>                                         
                    Relation of system to environment:<br>
                    <textarea rows="4" name ="relationToEnvironment"></textArea><br>                     
                    Referent:<br>
                    <textarea rows="4" name ="referent"></textArea><br>                     
                    Agent:<br>
                    <textarea rows="4" name ="agent"></textArea><br>                     
                    Threat Actors:<br>
                    <textarea rows="4" name ="threatActors"></textArea><br> 
                    Source of resilience:<br>
                    <textarea rows="4" name ="sourceOfResilience"></textArea><br>
                    Interventions:<br>
                    <textarea rows="4" name ="interventions"></textArea><br>  
                    Strategy:<br>
                    <textarea rows="4" name ="strategy"></textArea><br>
                    Primary Authors:<br>
                    <input type="text" name="authors"><br>
                    Year:<br>
                    <input type="number" name="year"><br>
                    Limitations:<br>
                    <textarea rows="4" name ="limitations"></textarea><br>
                    Audience:<br>
                    <textarea rows="4" name ="audience"></textarea><br>
                    Research drawn upon:<br>
                    <textarea rows="4" name ="researchDrawnUpon"></textarea><br>
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
