<!DOCTYPE HTML>
<html>
<head>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
    body {
        margin: 0px;
        font-family: 'Roboto', sans-serif; 
        opacity: 0;
    }
    .wrapper {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 10px 10px 10px;
    }
    .hidden {
        display: none;
        opacity: 0;
    }
    .content {
        text-align: center;
    }
    .alternated {
        background-color: #333;
        color: white;
    }
    p {
        font-size: 24px;
    }
    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #ccc;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 10px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
    }
    
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
    .info{
        font-size: 16px;
        font-weight: 100;
        margin-top: 0px;
    }
    .inlined {
        width:50%;
    }
    .left {
        text-align: left;
    }
    .right{
        text-align: right;
    }
    .flexWrap {
        display : flex;
        width: 100%;
        height:100%;
        flex-direction : row;
    }
    .info span {
        font-weight: 600; 
    }
    h3 {
        font-weight: 800;
    }
</style>
</head>

<body>
        <div id="i1" class="content wrapper">
            <h3>The Security Theory Map</h3>
            <div class="flexWrap">
            <div class="inlined left">
                <p class="info">
                Explore theories of security and save a customised map.
                </p>
                <p class="info">
Real-world security is a multi-dimensional problem and therefore needs multiple theoretical lenses and analyses, in order to understand and positively impact upon the application of security. A range of different security theories, Security Logics, and keywords allow you to explore the interactive map of security theories. From this, you will be able to export and then share your map.
                </p>
                <button class="button" onclick="location.href = '/map'" style="vertical-align:middle"><span>Map </span></button>
                <br>
                <br>
                <img src="img/fullPreview.jpeg" alt="Full preview" style="width:100%; border:2px solid black;">
            </div>
            <div class="inlined">
                <img src="img/exportPreview.jpg" style="width:482px ;height:849.5 ;border:2px solid black;" alt="Export preview"> 
            </div>
            </div>
        </div>
        <div class="alternated">
        <div id="i3" class="content wrapper">
            <h3>What is a Theory?</h3>
            <div class="flexWrap">
            <div class="inlined">
                <img src="img/theoryPreview.jpeg" style="width:538.5px;height:687px;border:2px solid black;" alt="Theory preview"> 
            </div>
            <div class="inlined left">
            <p class="info">
            A theory is a supposition or a system of ideas intended to explain something, especially one based on general principles that can be verified independently. A set of principles from this, on which the practice of an activity is based.
            </p>
            <p class="info">
            <span>What a Theory does:</span> ‘That’s what theory is: the summary and synthesis of what is known about a field. It is the reduction of our knowledge to the basic ideas, presented in a way that shows their underlying patterns and relationships... theory also helps us understand what we don’t know and, therefore, is the only guide to research... theory increases its ability to solve other problems in different times and different places’ (Moore, p. 2).
            </p>
            <p class="info">
            <span>How a Theory stands or falls:</span> ‘The criterion of the scientific status of a theory is its falsifiability, or refutability, or testability.’ Karl Popper (cited in Klemke, 1998). As a further condition, it is also necessary to add methodological and theoretical consistency to falsification (Popper, p. 72). Popper wrote in response to ‘verificationism’ in earlier Positivist thinking.
            </p>
            <p class="info">
            <span>Implications:</span> Kuhn argued that scientists work within a conceptual ‘paradigm’ strongly influencing the way in which they see data. Scientists go to great lengths to defend their paradigm against falsification, by the addition of ad hoc hypotheses to existing theories. Changing a paradigm is difficult, requiring an individual scientist to break with peers and defend a heterodox theory. Lakatos follows by saying that scientists work within a research ‘program’, corresponding to Kuhn’s ‘paradigm’. It is these programs that can be falsified. Kuhn and Lakatos accepted ad hoc hypotheses as being scientific, in contrast to Popper. Theories or programs falsified by observations are replaced by those with greater explanatory power and that, as a result, provide greater opportunity for the falsification of the theory.
            </p>
            <p class="info">
            <span>Example:</span> Hypotheses expressed as universal generalisations, such as ‘’all swans are white’’, can be considered to be provisionally true until falsified by evidence. Such a hypothesis would be dismissed as meaningless by verificationism.
            </p>
            <p class="info">
            <span>Synonyms:</span> hypothesis, thesis, conjecture, supposition, speculation, postulation, postulate, proposition, premise, surmise, assumption, presumption, presupposition, notion.
            </p>
            <p class="info">
            <span>Derivation:</span> via late Latin from Greek theōria ‘contemplation, speculation’, from theōros ‘spectator’.
            </p>
            <p class="info">
            <span>Sources:</span> Thomas Kuhn, The Structure of Scientific Revolutions, University of Chicago Press, 2012. Imre Lakatos, The methodology of scientific research programmes: Philosophical Papers Volume I. Cambridge University Press, 1978. Michael G. Moore, Distance Education Theory, Editorial, Issue 5.3, American Journal of Distance Education, 2013. Karl Popper, The Logic of Scientific Discovery. New York, NY: Basic Books, 1959.
            </p>
                <button class="button" onclick="location.href = '/map'" style="vertical-align:middle"><span>Map </span></button>
            </div>
            </div>
        </div>
        </div>
        <div id="i4" class="content wrapper">
            <h3>What is a Security Logic?</h3>
            <div class="flexWrap">
            <div class="inlined left">     
                <p class="info">
           Security Logics provide the foundational assumptions upon which theories and views of security are based.
                </p>
                <p class="info">
The components of a Security Logic include:
                </p>
                <ol>
    <li>A particular understanding of the object/s, sites or ‘referent/s’ to be secured.
    </li>
    <li>An understanding of the relationship of these object/s or sites to a system, territory or collectivity containing the object/s or sites.
    </li>
    <li>A political attitude towards the securing of the system or collectivity, and towards those things and actors that lie outside this system.
    </li>
    <li>An understanding of the relationship the object/s or sites have to a technology (in the broadest sense of this word) or other form of agency that is capable of securing the object/s or sites.
    </li>
    <li>A Security Logic is constituted through and by a discourse that expresses the application of the logic to the object/s or sites. The discourse may be particular to that logic, or may feed into a combination of different logics.
    </li>
    <li>The discourse particular to the Security Logic creates A). a space of possibilities for the type of policies that can be conceived and enacted as part of the logic and B). creates a space of possible breakdown for that logic, areas in which the logic cannot be applied successfully.
    </li>
    <li>The Security Logic demonstrates a particular stance towards some or all other security logics. This stance concerns the degree of its own miscibility and permeability with respect to these other logics. (This operates on a scale from miscible to non-miscible, permeable to non-permeable).
    </li>
                </ol>
               <p class="info">
               Examples of Security Logics
                </p>
               <p class="info">
State or National Security Logic (negative/universalist, internally oriented rather than internationally oriented) - includes military and economic security logics.
                </p>
               <p class="info">
Societal Security Logic (negative and largely universalist) - includes the economic.
                </p>
               <p class="info">
Human Security Logic (positive). Identity politics security logic (positive) - individual rights security logic (positive).
                </p>
               <p class="info">
Planetary Security Logic (positive).
               </p>
               <p class="info">
               <span>Sources:</span> Barry Buzan, Lene Hansen, The Evolution of International Security Studies, Cambridge University Press, 2009. Roxanne Lynn Doty, Immigration and the politics of security, Security Studies, 8:2-3, 71-93, 1998. Rens van Munster, Logics of Security: The Copenhagen School, Risk Management and the War on Terror, University of Southern Denmark, 2005. 
                </p> 
            <button class="button" onclick="location.href = '/map'" style="vertical-align:middle"><span>Map </span></button>
            </div>
            <div class="inlined">
                <img src="img/logicsPreview.jpeg" alt="Logics preview" style="width: 505px;height:356.5px ;border:2px solid black;">
            </div>
            </div>
        </div>
        <div class="alternated">
        <div id="i5" class="content wrapper">
            <h3>Glossary</h3>
            <div class="left">
            <p class="info">
            <span>Securitisation</span>: ‘issues become security issues by virtue of a process of social construction, that is, securitization’ (Doty, 1998); the process of an issue (e.g. immigration, the environment etc.) becoming understood as a security issue.
            </p>
            <p class="info">
            <span>Negative Security:</span> ‘relates to the treatment of security as a concept we wish to avoid, one that should be invoked as little as possible. We value it negatively, or it is understood to represent a negative value’ (GjØrv, 2012) . ‘Can be understood as ‘security from’ (a threat)’ (Ibid.).
            </p>
            <p class="info">
            <span>Positive Security:</span> security perceived as ‘something that is positively valued, or as something that is good or desired. It is a good which provides the foundation to allow us to pursue our needs and interests and enjoy a full life’ (GjØrv, 2012). Can be understood as “security to’ or enabling’.
            </p>
            <p class="info">
            <span>Universalist Security:</span> The notion that there are universally applicable solutions for security issues.
            </p>
            <p class="info">
            <span>Real Politic:</span> Politics based on practical circumstances rather than moral or ideological values.  
            </p>
            </div>
        </div>
        </div>
    <script src="intro.js"></script>
</body>
</html>
