<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <style>
         .wrapper {
             height: 100%;
             margin: 0 -10px;
             display: flex;  
             flex-flow: row wrap;
             font-weight: bold;
             text-align: center;
         }
           
         .wrapper > * {
             padding: 10px;
             flex: 1 100%;
         }
           
         .main {
             text-align: left;
             background: #c4c4c4;
         }
           
         .aside-1 {
             margin: 0 10px;
             box-shadow:5px 1px 6px #4E565E;
             background: #9e9e9e;
             width: 100px;
         }
           
         .aside-2 {
             margin: 0 10px;
             width: 100px;
             box-shadow:-5px 1px 6px #4E565E;
             background: #9e9e9e;
         }
           
         @media all and (min-width: 600px) {
             .aside { flex: 1 auto; }
         }
           
         @media all and (min-width: 800px) {
             .main    { flex: 3 0px; }
             .aside-1 { order: 1; } 
             .main    { order: 2; }
             .aside-2 { order: 3; }
         }
         body,html {
             background: #c4c4c4;
             max-width: 100%;
             overflow-x: hidden;
             overflow-y: hidden;
             height:100%;
             margin: 0;
         }
         .mapContainer {
             width:100%;
             height:95%;
         }
       
         .timeline rect {
             fill: steelblue;
         }

         .timeline text {
             fill: white;
             font: 10px sans-serif;
             text-anchor: end;
         }

        .theoryInfoDiv {
            height: 90%;
            max-height: 90%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .collapsibleTheoryInfo {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
        } 
        .collapsibleTheoryKeywords {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
        } 
        .active, .collapsibleTheoryKeywords:hover {
             background-color: #555;
        }

        .active, .collapsibleTheoryInfo:hover {
             background-color: #555;
        }
        .collapsibleContent {
             padding: 0 18px;
             text-align: left;
             overflow: hidden;
             background-color: #f1f1f1;
             max-height: 0;
             transition: max-height 0.2s ease-out;
        }

        ::-webkit-scrollbar {
            width: 7px;
        }       
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
             border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #f2f2f2;
        }
        .logicCircleName:hover {
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .logicCircle:hover{
            cursor:pointer;
        }
    </style>
  </head>
  <body>
      <div class="wrapper">
           <article class="main">
               <div id="mapContainer" class="mapContainer">
               </div>
           </article>
           <aside class="aside aside-1">
           </aside>
           <aside class="aside aside-2">
               <div style="height:90%;">
                   <h2 id="theoryName"></h2> 
                   <div class="theoryInfoDiv" style="display:none">
                        <button class="collapsibleTheoryInfo">Summary</button>
                        <div class="collapsibleContent">
                            <p id="theorySummary"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Principles</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrinciples"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Example</button>
                        <div class="collapsibleContent">
                            <p id="theoryExample"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Structure of international system</button>
                        <div class="collapsibleContent">
                            <p id="theoryStructureOfTheInternationalSystem"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Relation of system to environment</button>
                        <div class="collapsibleContent">
                            <p id="theoryRelationOfSystemToEnvironment"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Referent object</button>
                        <div class="collapsibleContent">
                            <p id="theorySecurityReferentObject"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Agent</button>
                        <div class="collapsibleContent">
                            <p id="theoryAgent"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Threat actors</button>
                        <div class="collapsibleContent">
                            <p id="theoryThreatActors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Source of resilience</button>
                        <div class="collapsibleContent">
                            <p id="theorySourceOfResilience"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Interventions</button>
                        <div class="collapsibleContent">
                            <p id="theoryInterventions"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Strategy</button>
                        <div class="collapsibleContent">
                            <p id="theoryStrategy"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Primary authors</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrimaryAuthors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Year</button>
                        <div class="collapsibleContent">
                            <p id="theoryYear"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Limitations</button>
                        <div class="collapsibleContent">
                            <p id="theoryLimitations"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Research drawn upon</button>
                        <div class="collapsibleContent">
                            <p id="theoryResearchDrawnUpon"></p>
                        </div>
                   </div>
           </aside>
      </div>
    <script>
        var width;
        var height;
        var scaleX;
        var scaleColour;
        var svg;
        var g;
        renderSVG();
        getLogicIDs();  
        function getLogicIDs(){
            $.get("getlogicidsandnames", function(data){
                renderLogicCircle(data);
            });
        }
        function getSelectedTheories(){  
            $.post("getorderedtheories",{
                ids : selectedTheoryIDs
            },
                function(data,status){
                    render(data);
                });
        }
        function renderLogicCircle(data){
            scaleColour = d3.scaleQuantize()
                .domain([getMinLogicID(data),getMaxLogicID(data)])
                .range(d3.schemePastel1);
            var radius = (height/4)*0.6;

            g.append("circle")
                .attr("cx", width/2)
                .attr("cy", height/4)
                .attr("r", radius)
                .attr("fill", "none")
                .attr("stroke-width", 2)
                .attr("stroke", "lightgrey");

            var incrementAngle = 360/data.length;

            g.selectAll("logicCircle")
                .data(data)
                .enter()
                .append("circle")
                .attr("data-clicked", 0)
                .attr("class", "logicCircle")
                .attr("id", function(d){ return "c"+d.id;})
                .attr("cx", function(d, i){
                    return (radius * Math.cos(Math.radians(i * incrementAngle)))+width/2;
                })
                .attr("cy", function(d, i){
                    return (radius * Math.sin(Math.radians(i * incrementAngle)))+height/4;
                })
                .attr("r", 7)
                .attr("fill","#7f7f7f")
                .on("mouseover", mouseOverLogicCircle)
                .on("mouseout", mouseOutLogicCircle)
                .on("click", selectLogicAndShow);
            
            var fontSize = 12;

            g.selectAll("logicText")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "logicCircleName")
                .attr("id", function(d){return "t"+d.id;})
                .attr("data-clicked", 0)
                .attr("x", function(d, i){
                    var degrees = (i * incrementAngle);
                    return degrees >= 90 && degrees <= 270 ? ((radius * Math.cos(Math.radians(degrees)))+width/2)-10 : ((radius * Math.cos(Math.radians(degrees)))+width/2)+10;
                })
                .attr("y",  function(d, i){
                    return (radius * Math.sin(Math.radians(i * incrementAngle)))+height/4+4;
                })
                .attr("text-anchor", function(d, i){
                    var degrees = i * incrementAngle;
                    return degrees >= 90 && degrees <= 270 ? "end" : "start"; 
                })
                .attr("fill", "#5b5b5b")
                .text(function(d){
                    return d.logicsName;
                }).style("font-size", fontSize+"px")
                .on("mouseover", mouseOverLogicName)
                .on("mouseout", mouseOutLogicName)
                .on("click", selectLogicAndShow);
        }

        function selectLogicAndShow(d,i){
            var circle = d3.select("#c"+d.id);
            var text = d3.select("#t"+d.id); 
            if(circle.attr("data-clicked") == 0 || text.attr("data-clicked") == 0){
                console.log("selected");
                circle.attr("data-clicked",1);
                text.attr("data-clicked",1);
                circle.transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", scaleColour(d.id))
                    .attr("r", 14);
                text.transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", "#212121");
            }else{
                console.log("deselected");
                circle.attr("data-clicked",0);
                text.attr("data-clicked",0);
                circle.transition()
                    .ease(d3.easeCubic)
                    .duration("200")
                    .attr("fill","#7f7f7f" )
                    .attr("r", 7);
                text.transition()
                    .ease(d3.easeCubic)
                    .duration("200")
                    .attr("fill","#5b5b5b");
            }
        }
        
        function mouseOverLogicName(d, i) { 
            if(d3.select(this).attr("data-clicked") == 0){
                d3.select("#c"+d.id).transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", scaleColour(d.id))
                    .attr("r", 14);
                d3.select(this).transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", "#212121");
            }
        }

        function mouseOutLogicName(d, i) {
            if(d3.select(this).attr("data-clicked") == 0){
                d3.select("#c"+d.id).transition()
                   .ease(d3.easeCubic)
                   .duration("200")   
                   .attr("fill","#7f7f7f")
                   .attr("r", 7);
                d3.select(this).transition()
                   .ease(d3.easeCubic)
                   .duration("200")
                   .attr("fill","#5b5b5b");
            }
        }
        function mouseOverLogicCircle(d, i) { 
            if(d3.select(this).attr("data-clicked") == 0){
                d3.select(this).transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", scaleColour(d.id))
                    .attr("r", 14);
                d3.select("#t"+d.id).transition()
                    .ease(d3.easeCubic)
                    .duration("500")
                    .attr("fill", "#212121");
            }
        }

        function mouseOutLogicCircle(d, i) {
            if(d3.select(this).attr("data-clicked") == 0){
                d3.select(this).transition()
                   .ease(d3.easeCubic)
                   .duration("200")   
                   .attr("fill","#7f7f7f")
                   .attr("r", 7);
                d3.select("#t"+d.id).transition()
                   .ease(d3.easeCubic)
                   .duration("200")
                   .attr("fill","#5b5b5b");
            }
        }

        function renderSVG(){
            width = document.getElementById('mapContainer').offsetWidth;
            height = document.getElementById('mapContainer').offsetHeight;
            svg = d3.select(".mapContainer")
                .append("svg")
                .attr("id","map")
                .attr("width", width)
                .attr("height", height)
                .style("pointer-events", "all")
            g = svg.append("g");

            g.append("rect")
                .attr("x", 0)
                .attr("y", height/2)
                .attr("width", width)
                .attr("height", 10)
                .attr("fill", "#444444");
        }
        function render(data){
            var height = document.getElementById('timelineContainer').offsetHeight;  
            var parseDate = d3.timeParse("%Y"); 
            var scaleX = d3.scaleLinear()
                .domain([data[0].theoryYear,data[data.length-1].theoryYear])
                .range([10, width-10]);
            
            var scaleColour = d3.scaleQuantize()
                .domain([getMinLogicID(data),getMaxLogicID(data)])
                .range(d3.schemePastel1);

            var currentTransform = scaleX; 
            var zoom = d3.zoom()
                .scaleExtent([1, 64])
                .translateExtent([[0, 0], [width, height]])
                .extent([[0, 0], [width, height]])
                .on("zoom", zoomed);

            var svg = d3.select(".timelineContainer")
                .append("svg")
                .attr("id","timeline")
                .attr("width", width)
                .attr("height", height)
                .style("pointer-events", "all")
            
            var g = svg.append("g");

            g.append("rect")
                .attr("x", 0)
                .attr("y", height/2)
                .attr("width", width)
                .attr("height", 10)
                .attr("fill", "#444444");
            
            var boundingRect = g.append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", width)
                .attr("height", height)
                .attr("fill", "none");

            g.selectAll("circle")
                .data(data)
                .enter()
                .append("circle")
                .attr("cx", function(d){
                    return scaleX(d.theoryYear);
                })
                .attr("cy", (height/2)+5)
                .attr("r", 10)
                .attr("fill", function(d){
                    return scaleColour(d.logicID); 
                })
                .on("mouseover", handleMouseOver)
                .on("mouseout", handleMouseOut)
                .on("click", function(d) {
                    $.post("gettheorydata",
                        {
                            id : d.theoryID
                        },
                        function(data,status){
                            for(field in data[0]){
                                $("#"+field).text(data[0][field]);
                            }
                        });
                });
            zoom(g);
            function handleMouseOver(d, i) { 
                d3.select(this).attr("fill", "orange");
                g.append("text")
                    .datum(d.theoryYear)
                    .attr("class", "textNames")
                    .attr("id", "t" + d.theoryYear + "-" + "-" + i)
                    .attr("x", function() { return currentTransform(d.theoryYear)-6; })
                    .attr("y", (height/2)+16)
                    .attr("transform", "rotate(90,"+(currentTransform(d.theoryYear)-6)+","+((height/2)+16)+")")
                    .text(d.theoryYear+" - "+d.theoryName); 
            }

            function handleMouseOut(d, i) {
                d3.select(this).attr("fill",scaleColour(d.logicID));
                d3.select("#t" + d.theoryYear + "-" + "-" + i).remove();  // Remove text location
            }

            function zoomed() {
                var t = d3.event.transform, xt = t.rescaleX(scaleX);
                currentTransform = xt;
                g.selectAll("circle")
                    .attr("cx", function(d){
                        return xt(d.theoryYear);
                    });
                g.selectAll(".textNames")
                    .attr("x", function(d){
                        return xt(d)-6;
                    })
                    .attr("transform", function(d){ 
                        return "rotate(90,"+(xt(d)-6)+","+((height/2)+16)+")";
                    });
            }
        }
        function getMaxLogicID(data){
            var maxID = data[0].id;
            for(row of data){
                if(row.id > maxID){
                    maxID = row.id;
                }
            }
            return maxID;
        }
        function getMinLogicID(data){
            var minID = data[0].id;
            for(row of data){
                if(row.id < minID){
                    minID = row.id;
                }
            }
            return minID;
        }
        Math.radians = function(degrees) {
            return degrees * Math.PI / 180;
        };
        //$.post("getkeywordsoflogics",{
        //    ids : selectedTheoryIDs
        //},
        //    function(data,status){
        //        for(row of data){
        //            $("#keywords").append("<input id="+row.id+" type='checkbox' checked>"+row.keyword+"</input><br>");
        //        }
        //});

    </script>
    <script>
          var coll = document.getElementsByClassName("collapsibleTheoryInfo");
          var i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.maxHeight){
                      content.style.maxHeight = null;
                  } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                  } 
              });
          }
    </script>
  </body>
</html>
