<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <style>
         .wrapper {
             height: 100%;
             margin: 0 -10px;
             display: flex;  
             flex-flow: row wrap;
             font-weight: bold;
             text-align: center;
         }
           
         .wrapper > * {
             padding: 0px;
             flex: 1 100%;
         }
           
         .main {
             background: #c4c4c4;
         }
           
         .aside-1 {
             margin: 0 10px;
             box-shadow:5px 1px 6px #4E565E;
             background: #9e9e9e;
             width: 100px;
         }
           
         .aside-2 {
             margin: 0 0px;
             width: 100px;
             box-shadow:-5px 1px 6px #4E565E;
             background: #9e9e9e;
         }
           
         @media all and (min-width: 600px) {
             .aside { flex: 1 auto; }
         }
           
         @media all and (min-width: 800px) {
             .main    { flex: 3 0px; }
             .aside-1 { order: 1; } 
             .main    { order: 2; }
             .aside-2 { order: 3; }
         }
         body,html {
             background: #c4c4c4;
             max-width: 100%;
             overflow-x: hidden;
             overflow-y: hidden;
             height:100%;
             margin: 0;
         }
         .mapContainer {
             width:100%;
             height:95%;
         }
       
         .timeline rect {
             fill: steelblue;
         }

         .timeline text {
             fill: white;
             font: 10px sans-serif;
             text-anchor: end;
         }

        .theoryInfoDiv {
            height: 90%;
            max-height: 90%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .collapsibleTheoryInfo {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
        } 
        .collapsibleTheoryKeywords {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
        } 
        .active, .collapsibleTheoryKeywords:hover {
             background-color: #555;
        }

        .active, .collapsibleTheoryInfo:hover {
             background-color: #555;
        }
        .collapsibleContent {
             padding: 0 18px;
             text-align: left;
             overflow: hidden;
             background-color: #f1f1f1;
             max-height: 0;
             transition: max-height 0.2s ease-out;
        }

        ::-webkit-scrollbar {
            width: 7px;
        }       
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
             border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #f2f2f2;
        }
        .titles:hover{
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .antecedentTitles:hover {
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .antecedentTimelineCircle:hover{
            cursor:pointer;
        }
        .timelineCircle:hover{
            cursor:pointer;
        }
        .logicCircleName:hover {
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .logicCircle:hover{
            cursor:pointer;
        }
        .summaries {
            margin: 10px 20px 10px 10px;
            height: 95%;

        }
        .summaryDiv {
            opacity: 0.0;
        }
        .summaryTitle {
            background-color: #777;
            color: white;
            padding: 18px;
            display: block;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
        }
        .summaryContent {
            padding: 18px 18px;
            text-align: left;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #f1f1f1;
            height: 80%;
            font-size: 12px
            font-family: 'Oswald', sans-serif;
        }
    </style>
  </head>
  <body>
      <div class="wrapper">
           <article class="main">
               <div id="mapContainer" class="mapContainer">
               </div>
           </article>
           <aside class="aside aside-1">
           </aside>
           <aside class="aside aside-2">
                   <div class="summaries"> 
                        <div id="logicSummary" class="summaryDiv" style="display:none;height:30%;">
                            <div id="logicSummaryTitle" class="summaryTitle">
                            </div>
                            <div id="logicSummaryContent" class="summaryContent">
                            </div>
                        </div>
                   </div>
                   <h2 id="theoryName"></h2> 
                   <div class="theoryInfoDiv" style="display:none">
                        <button class="collapsibleTheoryInfo">Summary</button>
                        <div class="collapsibleContent">
                            <p id="theorySummary"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Principles</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrinciples"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Example</button>
                        <div class="collapsibleContent">
                            <p id="theoryExample"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Structure of international system</button>
                        <div class="collapsibleContent">
                            <p id="theoryStructureOfTheInternationalSystem"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Relation of system to environment</button>
                        <div class="collapsibleContent">
                            <p id="theoryRelationOfSystemToEnvironment"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Referent object</button>
                        <div class="collapsibleContent">
                            <p id="theorySecurityReferentObject"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Agent</button>
                        <div class="collapsibleContent">
                            <p id="theoryAgent"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Threat actors</button>
                        <div class="collapsibleContent">
                            <p id="theoryThreatActors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Source of resilience</button>
                        <div class="collapsibleContent">
                            <p id="theorySourceOfResilience"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Interventions</button>
                        <div class="collapsibleContent">
                            <p id="theoryInterventions"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Strategy</button>
                        <div class="collapsibleContent">
                            <p id="theoryStrategy"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Primary authors</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrimaryAuthors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Year</button>
                        <div class="collapsibleContent">
                            <p id="theoryYear"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Limitations</button>
                        <div class="collapsibleContent">
                            <p id="theoryLimitations"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Research drawn upon</button>
                        <div class="collapsibleContent">
                            <p id="theoryResearchDrawnUpon"></p>
                        </div>
                   </div>
           </aside>
      </div>
    <script src="map.js"></script>
    <script>
          var coll = document.getElementsByClassName("collapsibleTheoryInfo");
          var i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.maxHeight){
                      content.style.maxHeight = null;
                  } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                  } 
              });
          }
    </script>
  </body>
</html>
