<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <style>
         .wrapper {
             height: 100%;
             margin: 0px;
             display: flex;  
             width: 100%;
             flex-direction: row;
             font-weight: bold;
             text-align: center;
         }
           
         .wrapper > * {
             padding: 0px;
         }
           
         .main {
             width: 60%;
             background: #ffffff;
         }
           
         .aside-1 {
             box-shadow:5px 1px 6px #4E565E;
             background: #d8d8d8;
             width: 20%;
             z-index: 1;
         }
           
         .aside-2 {
             margin: 0 0px;
             width: 20%;
             box-shadow:-5px 1px 6px #4E565E;
             background: #d8d8d8;
         }
           
        
         @media all and (min-width: 800px) {
             .aside-1 { order: 1; } 
             .main    { order: 2; }
             .aside-2 { order: 3; }
         }
         body,html {
             background: #ffffff;
             max-width: 100%;
             overflow-x: hidden;
             overflow-y: hidden;
             height:100%;
             margin: 0;
         }
         .mapContainer {
             width:100%;
             height:100%;
         }
       
         .timeline rect {
             fill: steelblue;
         }

         .timeline text {
             fill: white;
             font: 10px sans-serif;
             text-anchor: end;
         }

        .theoryInfoDiv {
            height: 100%;
            opacity: 0;
            max-height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .titleButtonClass {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
             font-family: 'Oswald', sans-serif;
        } 

        .collapsibleTheoryInfo {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
             font-family: 'Oswald', sans-serif;
        } 
        .collapsibleTheoryKeywords {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
        } 
        .active, .collapsibleTheoryKeywords:hover {
             background-color: #555;
        }

        .active, .collapsibleTheoryInfo:hover {
             background-color: #555;
        }

        .titleContent {
             padding: 0 18px;
             text-align: left;
             overflow: hidden;
             background-color: #f1f1f1;
             font-size: 14px;
             font-family: 'Oswald', sans-serif;
             transition: max-height 0.2s ease-out;
        }
        .collapsibleContent {
             padding: 0 18px;
             text-align: left;
             overflow: hidden;
             background-color: #f1f1f1;
             max-height: 0;
             font-size: 14px;
             font-family: 'Oswald', sans-serif;
             transition: max-height 0.2s ease-out;
        }

        ::-webkit-scrollbar {
            width: 7px;
        }       
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
             border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #f2f2f2;
        }
        .titles:hover{
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .antecedentTitles:hover {
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .antecedentTimelineCircle:hover{
            cursor:pointer;
        }
        .theoryCircle:hover{
            cursor:pointer;
        }
        
        .theoryTitle:hover{
            cursor:pointer;
        }
        
        .referentObjectTitle:hover{
            cursor:pointer;
        }
        
        .referentObjectCircle:hover{
            cursor:pointer;
        }
        .timelineCircle:hover{
            cursor:pointer;
        }
        .logicCircleName:hover {
            cursor: pointer;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none; 
        }
        .logicCircle:hover{
            cursor:pointer;
        }
        .summaries {
            margin: 10px 20px 10px 10px;
            height: 100%;

        }
        .summaryDivWrapper{
            padding: 0px 10px 0px 10px;
            height: 33%;
        }
        .summaryDiv {
            opacity: 0.0;
        }
        .summaryTitle {
            background-color: #777;
            color: white;
            padding: 18px;
            display: block;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
        }
        .summaryContent {
            padding: 14px 14px;
            text-align: left;
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #f1f1f1;
            font-size: 12px;
            font-family: 'Oswald', sans-serif;
        }
        .switch-input {
            display: none;
        }
        .switch-label {
          position: relative;
          display: block;
          min-width: 112px;
          cursor: pointer;
          font-weight: 500;
          text-align: left;
              font-family: 'Oswald', sans-serif;
          margin: 16px;
          padding: 5px 0 0px 44px;
                -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }
        .switch-label:before, .switch-label:after {
          content: "";
          position: absolute;
          margin: 0;
          outline: 0;
          top: 50%;
          -ms-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .switch-label:before {
          left: 1px;
          width: 34px;
          height: 14px;
          background-color: #6d6d6d;
          border-radius: 8px;
        }
        .switch-label:after {
          left: 0;
          width: 20px;
          height: 20px;
          background-color: #FAFAFA;
          border-radius: 50%;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
        }
        .switch-label .toggle--on {
          display: none;
        }
        .switch-label .toggle--off {
          display: block;
        }
        .switch-input:checked + .switch-label:before {
          background-color: #A5D6A7;
        }
        .switch-input:checked + .switch-label:after {
          background-color: #4CAF50;
          -ms-transform: translate(80%, -50%);
          -webkit-transform: translate(80%, -50%);
          transform: translate(80%, -50%);
        }
        .switch-input:checked + .switch-label .toggle--on {
          display: block;
        }
        .switch-input:checked + .switch-label .toggle--off {
          display: none;
        }
        .controlPanel {
            padding: 10px 10px 10px 20px;
        }
        .keywordsSearch {
            padding: 0px 0px 0px 30px;
            text-align: left;
        }
        .stop-left {
            stop-color: #7f7f7f;  
        }

        .stop-right {
            stop-color: #000000;  
        }
        .stop-leftAnte {
            stop-color: #ffffff;
        }
        .stop-rightAnte {
            stop-color: #7f7f7f;
        }
        .filledAnte {
            fill: url(#anteGradient);
        }
        .filled {
            fill: url(#mainGradient);
        }
        .wordsToFilterBy {
            color: white;
            border: 2px solid none;
            border-radius: 5px;
            text-align: left;
            font-family: 'Oswald', sans-serif;
            text-align: left;
            padding: 3px 0px 0px 5px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 10px;
            background: grey;
        }
        .listDiv {
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .keywordsDatalist {
            font-family: 'Oswald', sans-serif;
            padding: 0.5em 0.5em;
            border-radius: 3px;
            border: 1px solid #D9D9D9;
            width: 90%;
            background: white;
            height: 20px;
        }
        .selects {
            font-family: 'Oswald', sans-serif;
            padding: 0.5em 0.5em;
            border-radius: 3px;
            border: 1px solid #D9D9D9;
            width: 94%;
            background: white;
            height: 20px;
        }
        #list {
            list-style-type: none;
        }
        .listelement {
            color: #fff;
            background-color: #c93c3c;
            text-align: center;
            border: none;
            border-radius: 50%;
        }
        .listelement:hover {
            background-color: #872525; 
        }
        .referentObjects {
            color: white;
            border: 2px solid none;
            border-radius: 5px;
            text-align: left;
            font-family: 'Oswald', sans-serif;
            text-align: left;
            padding: 3px 0px 0px 5px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 10px;
            background: grey;
        }
        .selectReferent {
            padding: 0px 0px 0px 30px;
            text-align: left;
        }
         .selectDimensions {
            padding: 0px 0px 0px 30px;
            text-align: left;
        }

         .dimensions {
            color: white;
            border: 2px solid none;
            border-radius: 5px;
            text-align: left;
            font-family: 'Oswald', sans-serif;
            text-align: left;
            padding: 3px 0px 0px 5px;
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 10px;
            background: grey;
        }

    </style>
  </head>
  <body>
      <div class="wrapper">
           <aside class="aside aside-1" id="left">
                <div class="controlPanel">
            <input type="checkbox" id="posNegSwitch" name="set-name" onclick='getPosNeg()' class="switch-input">
	<label for="posNegSwitch" class="switch-label">Positive/Negative <span class="toggle--on">On</span><span class="toggle--off">Off</span></label>
            <input type="checkbox" id="relationshipsSwitch" name="set-name" onclick='getRelationships()' class="switch-input">
	<label for="relationshipsSwitch" class="switch-label">Relationships <span class="toggle--on">On</span><span class="toggle--off">Off</span></label>
            <input type="checkbox" id="keywordsSwitch" onclick='keywordsSwitch()' name="set-name" class="switch-input">
	<label for="keywordsSwitch" class="switch-label">Keywords <span class="toggle--on">On</span><span class="toggle--off">Off</span></label>
            <input type="checkbox" id="timelineSwitch" onclick='switchToTimeline()' name="set-name" class="switch-input">
	<label for="timelineSwitch" class="switch-label">Timeline <span class="toggle--on">On</span><span class="toggle--off">Off</span></label>
            </div>
            <div class="referentObjects">
                Referent Objects:
                <select id="referentObjectsSelection" class="selects" onchange="addSelectedRefOb();" onfocus="this.selectedIndex = -1;">
                </select>
                <div class="listDiv">
                    <ul id="referentObjList">
                    </ul>
                </div>
            </div>
            <div class="dimensions">
                Dimensions:
                <select id="dimensionsSelection" class="selects" onchange="addSelectedDimension();" onfocus="this.selectedIndex = -1;">
                    <option value="ppsor">Proposed source of resilience</option>
                    <option value="exemp">Exemplars</option>
                    <option value="aaos">Associated agents of security</option>
                    <option value="tta">Typical threat actors</option>
                    <option value="ti">Typical interventions</option>
                    <option value="ts">Typical strategies</option>
                    <option value="aaotis">Assumed structure of the international system</option>
                    <option value="aroste">Assumed relation of system to environment</option>
                    <option value="at">Associated technologies</option>
                    <option value="ap">Associated politics</option>
                    <option value="opp">Opposites</option>
                    <option value="close">Closely related</option>
                </select>
                <div class="listDiv">
                    <ul id="dimensionsSelected">
                    </ul>
                </div>
            </div>
            <div class="wordsToFilterBy">
                Filtering by keywords:  
                <input class="keywordsDatalist" list="relatedKeywords" oninput="getKeywords()" disabled name="selectedKeyword" id="keywordsSearchInput" placeholder="Search">
                <datalist id="relatedKeywords">
                </datalist>
                <div class="listDiv">
                    <ul id="list">
                    </ul>
                </div>
            </div>
            <button id='saveButton'>Export my D3 visualization to PDF</button>

           </aside>
           <article class="main">
               <div id="mapContainer" class="mapContainer">
               </div>
           </article>
           <aside class="aside aside-2" id="right">
                   <!--<div class="summaries"> 
                       <div class="summaryDivWrapper">
                        <div id="logicSummary" class="summaryDiv" style="display:none;">
                            <div id="logicSummaryTitle" class="summaryTitle">
                            </div>
                            <div id="logicSummaryContent" class="summaryContent">
                            </div>
                        </div>
                       </div>
                       <div class="summaryDivWrapper">
                        <div id="theorySummary" class="summaryDiv" style="display:none;">
                            <div id="theorySummaryTitle" class="summaryTitle">
                            </div>
                            <div id="theorySummaryContent" class="summaryContent">
                            </div>
                        </div>
                       </div>
                        <div class="summaryDivWrapper">
                        <div id="antecedentTheorySummary" class="summaryDiv" style="display:none;">
                            <div id="antecedentTheorySummaryTitle" class="summaryTitle">
                            </div>
                            <div id="antecedentTheorySummaryContent" class="summaryContent">
                            </div>
                        </div>
                        </div>
                   </div>-->

                   <div class="theoryInfoDiv" id= "logicInfo" style="display:none">
                        <button class="titleButtonClass" id="logicTitleButton"></button>
                        <div class="titleContent">
                            <p id="logicsSummary"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsCommentaryButton">Commentary</button>
                        <div class="collapsibleContent">
                            <p id="logicsCommentary"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id ="logicsObjectButton">Objects</button>
                        <div class="collapsibleContent">
                            <p id="logicsObjects"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsMainPoliticsButton">Politics</button>
                        <div class="collapsibleContent">
                            <p id="logicsMainPolitics"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsMainTechnologyButton">Technology</button>
                        <div class="collapsibleContent">
                            <p id="logicsMainTechnology"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsMainOppositeButton">Opposing logics</button>
                        <div class="collapsibleContent">
                            <p id="logicsMainOpposingLogics"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="loigcsMainCloselyRelatedButton">Closely related logics</button>
                        <div class="collapsibleContent">
                            <p id="logicsMainCloselyRelated"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsExemplarsButton">Exemplars</button>
                        <div class="collapsibleContent">
                            <p id="logicsExemplars"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsReferencesButton">Exemplars</button>
                        <div class="collapsibleContent">
                            <p id="logicsReferences"></p>
                        </div>
                   </div>
                   <div class="theoryInfoDiv" id= "theoryInfoMore" style="display:none">
                        <button class="titleButtonClass" id="theoryTitleButton"></button>
                        <div class="titleContent">
                            <p id="theorySummary"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Principles</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrinciples"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id ="theoryExampleButton">Example</button>
                        <div class="collapsibleContent">
                            <p id="theoryExample"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryStructureOfTheInternationalSystemButton">Structure of international system</button>
                        <div class="collapsibleContent">
                            <p id="theoryStructureOfTheInternationalSystem"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryRelationOfSystemToEnvironmentButton">Relation of system to environment</button>
                        <div class="collapsibleContent">
                            <p id="theoryRelationOfSystemToEnvironment"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryAgentButton">Agent</button>
                        <div class="collapsibleContent">
                            <p id="theoryAgent"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryThreatActorsButton">Threat actors</button>
                        <div class="collapsibleContent">
                            <p id="theoryThreatActors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theorySourceOfResilienceButton">Source of resilience</button>
                        <div class="collapsibleContent">
                            <p id="theorySourceOfResilience"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryInterventionsButton">Interventions</button>
                        <div class="collapsibleContent">
                            <p id="theoryInterventions"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="theoryStrategyButton">Strategy</button>
                        <div class="collapsibleContent">
                            <p id="theoryStrategy"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Primary authors</button>
                        <div class="collapsibleContent">
                            <p id="theoryPrimaryAuthors"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Limitations</button>
                        <div class="collapsibleContent">
                            <p id="theoryLimitations"></p>
                        </div>
                        <button class="collapsibleTheoryInfo">Research drawn upon</button>
                        <div class="collapsibleContent">
                            <p id="theoryResearchDrawnUpon"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsPoliticsButton">Associated politics</button>
                        <div class="collapsibleContent">
                            <p id="logicsPolitics"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsTechnologyButton">Associated Technologies</button>
                        <div class="collapsibleContent">
                            <p id="logicsTechnology"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsOppositesButton">Opposing Logics</button>
                        <div class="collapsibleContent">
                            <p id="logicsOpposites"></p>
                        </div>
                        <button class="collapsibleTheoryInfo" id="logicsCloselyRelatedButton">Closely related logics</button>
                        <div class="collapsibleContent">
                            <p id="logicsCloselyRelated"></p>
                        </div>
                   </div>
           </aside>
      </div>
    <script src="map.js"></script>
    <script>
          var coll = document.getElementsByClassName("collapsibleTheoryInfo");
          var i;
          for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.maxHeight){
                      content.style.maxHeight = null;
                  } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                  } 
              });
          }
    </script>
  </body>
</html>
